.list {
  margin: 0 auto;
  list-style: none;
}

.item-list {
  margin: 0 auto;
  width: 200px;
  padding-left: 15px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #524a4a;
  border: 1px solid #4e4d4d;
}

.count-paragraph {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
}
